.blog-navbar-brand {
  width: 100px;
}

.blog-navbar {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
  box-shadow: 2px 0px 4px 1px rgba(222, 222, 222, 1);
}

.blog-navbar-add-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  font-size: 14px;
}
